In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
# Q1
req= requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [4]:
req

In [5]:
soup= BeautifulSoup(req.content)

In [7]:
for i in soup.find_all('span', class_ = 'mw-headline' ):
    print(i.text)

Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages

In [8]:
# Q2

In [148]:
req3=requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [150]:
soup2 = BeautifulSoup(req3.content)

In [161]:
#  scrapping movie's name data
full=[]
for i in soup2.find_all('a'):
    l=i.text.split()
    k=''.join(l)
    #print(k)
    full.append(k)

In [167]:
mm=full[52:]

In [175]:
#  scrapping movie's name data
moviename=[]
for i in range(0,200,2):
    ll=mm[i]
    #print(ll)
    moviename.append(ll)

In [174]:
len(moviename)

100

In [273]:
# scrapping movie's year data
year=[]
for i in soup2.find_all('span', class_= 'secondaryInfo'):
    l=i.text
    p=l[1:-1]
    year.append(p)

In [280]:
Year=year[0:100]

In [245]:
#   scrapping movie's rating data
rate= []
rating=[]
n=0
for i in soup2.find_all('td', class_= 'ratingColumn imdbRating'):
    if n<=99:
    #print(i.text)
        rate.append(i.text)
        l=rate[n][1:4]
        rating.append(l)
        
    n+=1

In [250]:
len(rating)

100

In [252]:
import pandas as pd

In [285]:
dic= {'Movies_name':moviename, 'Rating': rating, 'Year':Year}

In [288]:
imdb_top_100_movies=pd.DataFrame(dic)

In [290]:
imdb_top_100_movies.head(4)

              Movies_name Rating  Year
0  TheShawshankRedemption    9.2  1994
1            TheGodfather    9.2  1972
2           TheDarkKnight    9.0  2008
3      TheGodfatherPartII    9.0  1974

In [291]:
imdb_top_100_movies.shape

(100, 3)

In [338]:
#imdb_top_100_movies.to_csv('E:\csv_file\imdb_top_100_movies.csv', index=False)

Q3=  Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [339]:
page3= requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [341]:
soup3=BeautifulSoup(page3.content)

In [362]:
#  scraping imdb top 100 movies release 'year' Data
year= []
y=[]
n=0
for i in soup3.find_all('span',class_= 'secondaryInfo'):
    if n<100:
        
        #print(i.text)
        y.append(i.text)
        l=y[n][1:-1]
        year.append(l)
    n+=1
    #print(l)

In [363]:
len(year)

100

In [365]:
#  scraping imdb top 100 movies 'Name' Data

mov=[]
for i in soup3.find_all('a'):
    #print(i.text)
    mov.append(i.text)

In [372]:
movie=mov[58:]

In [379]:
#  scraping imdb top 100 movies 'Name' Data

indian_movies= []
for i in range(0,200,2):
    #print(movie[i])
    indian_movies.append(movie[i])

In [402]:
##  scraping imdb top 100 movies 'Rating' Data

r= []
rating= []
n=0
for i in soup3.find_all('td', class_= 'ratingColumn imdbRating'):
    if n<=99:
        
        r.append(i.text)
        l=r[n][1:4]
        rating.append(l)
    n+=1
print(len(rating))

100

In [405]:
dic3= {'Indian_movies':indian_movies, 'Year':year, 'Rating':rating}

In [407]:
imdb_top_indian_movies= pd.DataFrame(dic3)

In [408]:
#imdb_top_indian_movies.shape

(100, 3)

In [409]:
#imdb_top_indian_movies.to_csv('E:\csv_file\imdb_top_indian_movies.csv', index=False)

Q8 = 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
== Scrape below mentioned details :
 1. paper title, 2.Author , 3.Published date , 4.Paper Url

In [410]:
page8= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [411]:
soup8 = BeautifulSoup(page8.content)

In [453]:
# scrapping all Articles list data

Articles= []
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Articles.append(i.text)
print(Articles[7])

Conflict-based search for optimal multi-agent pathfinding

In [451]:
# scrapping data ,in which date Artical download ,
Published_date= []
for i in soup8.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    Published_date.append(i.text)
print(Published_date[3])

August 1998

In [450]:
# scrapping data "Article's Author name"

Author= []
for i in soup8.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    Author.append(i.text)
print(Author[2])

Prakken, Henry, Sartor, Giovanni

In [448]:
# Scrapping  data " Article's URL" 
url= []
for i in soup8.find_all('a', class_="sc-5smygv-0 nrDZj"):
    url.append(i['href'])
print(url[0])

https://www.sciencedirect.com/science/article/pii/S0004370221000862

In [454]:
dic8={'Articles':Articles, 'Published_date':Published_date, 'Author':Author, 'Published_Url':url}

In [455]:
#AI_Articles=pd.DataFrame(dic8)

In [460]:
#AI_Articles.to_csv('E:\csv_file\AI_Articles.csv', index= False)

Q10=  10) Write a python program to scrape the details of top publications from Google Scholar from 
.  Rank ,  .Publication,  .h5_index,  .h5_median

In [295]:
page10= requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

In [296]:
soup10= BeautifulSoup(page10.content)

In [329]:
# scrapping google top scholar (  RANK's DATA  )

rank= []
for i in soup10.find_all('td', class_= 'gsc_mvt_p'):
    n= i.text
    rank.append(n)
    
print(len(rank))

100

In [327]:
# SCRAPPING DATA TOP SCHOLAR ( PUBLICATION NAMES )

publication= []
for i in soup10.find_all('td',class_= 'gsc_mvt_t'):
    n=i.text
    publication.append(n)
    
print(len(publication))

100

In [322]:
# SCRAPPING DATA h5_index and h5_median

h=[]
for i in soup10.find_all('td', class_= 'gsc_mvt_n'):
    #print(i.text)
    h.append(i.text)

print(len(h))

200

In [323]:
##  scrapping h5_index data
h5_index= []
for i in range(0,200,2):
    h5=h[i]
    h5_index.append(h5)

In [324]:
#  scrapping h5_median data
h5_median= []
for i in range(1,201,2):
    h5=h[i]
    h5_median.append(h5)

In [325]:
print(len(h5_median),',',len(h5_index))

100 , 100

In [330]:
dic10={'Rank':rank, 'publication_name':publication, 'h5_index':h5_index, 'h5_median':h5_median}

In [334]:
#world_top_publisher = pd.DataFrame(dic10)

In [336]:
#world_top_publisher.to_csv('E:\csv_file\world_top_publisher.csv',index=False )